* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* apply styles to <header> */
  header {
    padding: 20px 35px;
    background-color: #66ecec;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #070707;
    margin: 0;
    display: inline;
  }
  
  header a {
    text-decoration: none;
    color: #070707
  }
  
  header nav {
    float: right;
    margin: 7px 0;
  }

  /* apply styles to nav */
header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}


  .banner-img {
    width: 100%;
    margin: 0px 0px 20px 0px;
    vertical-align: top;
    position: relative;
  }
 


  /* Hero Style Start */

  .hero {
    padding: 50px 50px 50px 50px;
    background-image: url("../images/reeltoreeltape.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%
  }             
  
  .hero h1 {
    font-size: 48px;
    text-align: center;
    color: ivory;
    padding-top: 20%;
  }
  


/* Style introductions start- what we do, what you do, etc */
.intro  {
  text-align: left;
  display: inline-block;
}

.section-title {
  font-size: 36px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 35px;
  padding: 20px 20px 20px 20px;
}


.intro p {
  line-height: 1.7;
  color: #39a6b2;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

 #about-me {
  color: #070707;
}

